logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
chat-api/node_modules
chat-api/.DS_Store
chat-api/npm-debug.log
chat-api/lib
chat-api/coverage
chat-api/xunit.xml
chat-api/tests-xunit.xml
chat-api/.sonar
bower_components/
